body{
font-family: Arial, sans-serif;
background:#f2f2f2;
margin:0;
}

.container{
max-width:500px;
margin:auto;
padding:20px;
}

h1{
text-align:center;
}

.card{
background:white;
padding:20px;
border-radius:15px;
margin-bottom:20px;
box-shadow:0 3px 10px rgba(0,0,0,0.1);
}

input,select{
width:100%;
padding:12px;
margin:8px 0;
border-radius:10px;
border:1px solid #ccc;
}

button{
width:100%;
padding:12px;
border:none;
border-radius:10px;
background:#4CAF50;
color:white;
font-size:16px;
margin-top:10px;
}

button:hover{
opacity:0.9;
cursor:pointer;
}

.adminOnly{
display:none;
}

.equipoBtn{
background:#e0e0e0;
color:black;
margin:5px;
width:48%;
}

.equipoActivo{
background:#4CAF50;
color:white;
}
